<?xml version="1.0" encoding="utf-8"?>
<module id="kha-extended">
    <resources>
        <resource path="../Assets/img" prefix="img" />
    </resources>
    <components>
	    <class folder="../Assets/custom">
        </class>
        <class name="FileBrowser" />
        <class name="FileTree" />
        <class name="TreeView" />
        <class name="TreeNode" />
    </components>
</module>