<?xml version="1.0" encoding="utf-8"?>
<module id="kha-extended">
    <resources>
        <resource path="/haxe/ui/extended/_module/styles/dark" prefix="img" />
        <resource path="/haxe/ui/extended/custom" prefix="custom" />
    </resources>
    <components>
        <class package="haxe.ui.extended" />
        <class folder="/fields" />
    </components>

    <themes>
        <dark>
            <style resource="img/main.css" priority="-2" />
        </dark>
    </themes>
</module>